[Unit]
Description=OCaml-based Xenstore

[Service]
Restart=on-failure
Type=simple
ExecStartPre=/bin/mkdir -p /var/log/xen
ExecStart=/usr/sbin/oxenstored --no-fork
User=root

[Install]
WantedBy=multi-user.target
