name: nightly
on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * 1"
permissions:
  contents: read
  packages: write
  id-token: write
jobs:
  build:
    runs-on: edera-large
    strategy:
      fail-fast: false
      matrix:
        component:
        - xen
        - oxenstored
        - qemu-xen
    name: oci build ${{ matrix.component }}
    steps:
    - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        submodules: recursive
    - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
    - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
    - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      id: push-step
      with:
        file: ./Dockerfile.${{ matrix.component }}
        platforms: linux/amd64,linux/aarch64
        tags: ghcr.io/edera-dev/${{ matrix.component }}:nightly
        build-args: XEN_VERSION=4.21
        push: true
    - name: Sign the image
      env:
        DIGEST: ${{ steps.push-step.outputs.digest }}
        TAGS: ghcr.io/edera-dev/${{ matrix.component }}:nightly
        COSIGN_EXPERIMENTAL: "true"
      run: cosign sign --yes "${TAGS}@${DIGEST}"
