name: release
on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * 1"
permissions:
  contents: read
  packages: write
  id-token: write
jobs:
  build:
    runs-on: edera-large
    strategy:
      fail-fast: false
      matrix:
        release:
        - 4.19.0
        - 4.19.1
        - 4.20.0
        - 4.20.1
        - 4.21
        component:
        - xen
        - oxenstored
        - qemu-xen
    name: oci build ${{ matrix.component }}-${{ matrix.release }}
    steps:
    - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: recursive
    - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
    - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
    - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

      # these are all built against upstream RELEASE-X.X.X branches, and patch them.
      # Starting with 4.21, we build against `edera/X.X.X` branches, which integrated patches.
    - name: Determine XEN_BRANCH
      id: branch
      run: |
        VERSION="${{ matrix.release }}"
        MAJOR_MINOR=$(echo "$VERSION" | cut -d. -f1,2)

        if [ "$(printf '%s\n' "4.20" "$MAJOR_MINOR" | sort -V | head -n1)" = "$MAJOR_MINOR" ] && [ "$MAJOR_MINOR" != "4.21" ]; then
          echo "name=RELEASE-${VERSION}" >> $GITHUB_OUTPUT
        else
          echo "name=edera/${VERSION}" >> $GITHUB_OUTPUT
        fi

    - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      id: push-step
      with:
        file: ./Dockerfile.${{ matrix.component }}
        platforms: linux/amd64,linux/aarch64
        tags: ghcr.io/edera-dev/${{ matrix.component }}:${{ matrix.release }}
        build-args: |
          XEN_VERSION=${{ matrix.release }}
          XEN_BRANCH=${{ steps.branch.outputs.name }}
        push: true
    - name: Sign the image
      env:
        DIGEST: ${{ steps.push-step.outputs.digest }}
        TAGS: ghcr.io/edera-dev/${{ matrix.component }}:${{ matrix.release }}
        COSIGN_EXPERIMENTAL: "true"
      run: cosign sign --yes "${TAGS}@${DIGEST}"
